<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Eshop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="script.js"></script>
</head>

<body>
<style>

  title{
  color:#F4FCFD
  }
  head{
  background-color:#F4F9F4
  }

  body{
   background-color:#105612
   }
</style>
<div class="container">
  <h1>Muj Eshop
    <div class="site">
    <a href="home">home  </a>
    <a href="products">products </a>
    </div>
  </h1>
  <section class="card-panel">

    <div class="btn-group">

      <button style="width:23%">home</button>
      <button style="width:23%">products</button>
      <button style="width:23%">news</button>
      <button style="width:23%">about us</button>

    </div
    <br>
    <br>
    <br>
    <br>

    <img src="iphone.jpg" alt="iphone 12 " width="250" height="350"/>
    <img src="sony1.jpg" alt="iphone 12 " width="300" height="350"/>

  </section>
  <section class="card-panel">
    <h5>formular pro objednavku </h5>
    <form id="form1" onsubmit="getFormvalue()">
      <div class="row">
        <div class="input-field col s3">
          <label for="fname">Jméno: </label><input type="text" name="fname" value="">
        </div>
        <div class="input-field col s3">
          <label for="lname">Příjmení: </label><input type="text" name="lname" value="">
        </div>
      </div>
      <button class="white-text waves-effect waves-light btn" onclick="full_name()">
        podtvrdit



</body>

</html>
